* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body {
    background: #323641;
}

.letter-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.animated {
    position: absolute;
    height: 150px;
    width: 200px;
    transition: 0.4s;
}

.body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
}

.top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
}

.under-letter {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
}

.left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
}

.letter {
    left: 15px;
    bottom: 0px;
    position: absolute;
    width: 170px;
    height: 80px;
    background: white;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s 0.2s;
}

.letter-top {
    height: 8px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 10px, transparent 10px, transparent 18px);
}

.letter-line1 {
    margin-top: 20px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: #cb5a5e;
}

.letter-line2 {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: #cb5a5e;
}

.letter-circle {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #cb5a5e;
    opacity: 0.5;
}

.animated:hover {
    transform: translateY(50px);
}

.animated:hover>.top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    z-index: 0;
}

.animated:hover>.letter {
    height: 180px;
}